<ion-view id="contact" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>

    <article class="cusContent">
      <h2>CONTACT</h2>
      <p class="headline">If you have further questions which are not available in our FAQ page, please get in touch with us through our following email addresses.</p>
      <p>Technical Support: vbox@the-v.net
      </p>
      <p>Content and Translation Concerns: vcomm@the-v.net
      </p>
      <p>For inquiries : Mr. Vijiyar Thevan vijiyar.thevan@the-v.net +601 2209 3793 Ms. Kauri Subramaniam kauri.s@the-v.net +603 7965 8299
      </p>
      <p>Like. Follow. Share. Make Noise. #VCON17</p>
      <p><a href=""><i class="ion-social-facebook"></i></a> <a href=""><i class="ion-social-twitter"></i></a> <a href=""><i class="ion-social-instagram"></i></a> <a href=""><i class="ion-social-snapchat"></i></a></p>
    </article>

    <a class="button buyticket">Buy Ticket</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/mark" nav-direction="forward">Make Your V-Con Mark <i class="ion-chevron-right"></i></a>
  </ion-footer-bar>
</ion-view>
