<ion-view id="contact" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid"></header>
    <article class="cusContent">
      <h2>CONTACT</h2>
      <p class="headline">If you have further questions which are not available in our FAQ page, please get in touch with us through our following email addresses.</p>
      <p class="med">Technical Support:
        <br>vbox@the-v.net
      </p>
      <p class="med">Content and Translation Concerns:
        <br>vcomm@the-v.net
      </p>
      <p>For inquiries :
        <br>Mr. Vijiyar Thevan
        <br>vijiyar.thevan@the-v.net
        <br>+601 2209 3793
        <br>
        <br>
        <br>Ms. Kauri Subramaniam
        <br>kauri.s@the-v.net
        <br>+603 7965 8299
      </p>
      <p>Like. Follow. Share. Make Noise. #VCON17</p>
      <p class="follow">
        <a href="#" onclick="window.open('http://the-v.net/en/home/v-ambassadors/v-partners/vp-tg-kintanar', '_system', 'location=yes'); return false;"><i class="ion-social-facebook"></i></a>
          <a href="#" onclick="window.open('http://the-v.net/en/home/v-ambassadors/v-partners/vp-tg-kintanar', '_system', 'location=yes'); return false;"><i class="ion-social-twitter"></i></a>
          <a href="#" onclick="window.open('http://the-v.net/en/home/v-ambassadors/v-partners/vp-tg-kintanar', '_system', 'location=yes'); return false;"><i class="ion-social-instagram"></i></a>
          <a href="#" onclick="window.open('http://the-v.net/en/home/v-ambassadors/v-partners/vp-tg-kintanar', '_system', 'location=yes'); return false;"><i class="ion-social-snapchat"></i></a>

      </p>
    </article>

  </ion-content>
</ion-view>
