<ion-view id="main" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr">
      <div class="msg">
        <h4>MAY 3-7, 2017</h4>
        <p>SUBTERRANEAN PENANG INTERNATIONAL CONVENTION & EXHIBITION CENTRE, PENANG, MALAYSIA</p>
      </div>
      <a class="button buyticket btnPosBttm">
        Buy Ticket
      </a>
    </header>

    <!-- VCON Categories -->
    <div class="categories nopad">
      <div class="row nopad">
        <div class="col col-50 nopad">WHAT IS V-Con?</div>
        <div class="col col-50 nopad">ALL ABOUT V-Malaysia 2017</div>
      </div>
      <div class="row nopad">
        <div class="col col-50 nopad">CLAIM IT</div>
        <div class="col col-50 nopad">Why DO IT NOW</div>
      </div>
      <div class="row nopad">
        <div class="col col-50 nopad">Exclusive V-Con 2017 Downloads</div>
        <div class="col col-50 nopad">PENANG 101</div>
      </div>
    </div>


    <div class="newscat">
      <h5>NEWS AND UPDATES</h5>
      <div class="row">
        <div class="col col-50">Item</div>
      </div>
    </div>

    <a class="button buyticket">Buy Ticket</a>

  </ion-content>
</ion-view>
