<ion-view id="mark" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    
    <article class="cusContent">
      <h1>In order to be limitless, you need to BELIEVE IT. IT’S ABOUT TIME YOU DO</h1>
      <p class="headline">Instructions Lorem ipsum dolor
sit amet</p>

    </article>

    <a class="button btnClaim">CLAIM IT</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
      <a href="#/app/contact" nav-direction="forward">EXCLUSIVE DOWNLOADS <i class="ion-chevron-right"></i></a>
  </ion-footer-bar>
</ion-view>
