<ion-view id="merch" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>MERCHANDISE</h1>
    </header>
    <article class="cusContent">

      <p class="headline">Lorem Ipsum about buying the merch. and also availability only exclusive at V-Con</p>
      <div class="merchCont">
              <div class="col col-50">
                  <img src="http://placehold.it/133x139">
                  <div class="title">Title</div>
                  <div class="price">RM 7.99</div>
              </div>
              <div class="col col-50">
                  <img src="http://placehold.it/133x139">
                  <div class="title">Title</div>
                  <div class="price">RM 7.99</div>
              </div>
              <div class="col col-50">
                  <img src="http://placehold.it/133x139">
                  <div class="title">Title</div>
                  <div class="price">RM 7.99</div>
              </div>
              <div class="col col-50">
                  <img src="http://placehold.it/133x139">
                  <div class="title">Title</div>
                  <div class="price">RM 7.99</div>
              </div>
              <div class="col col-50">
                  <img src="http://placehold.it/133x139">
                  <div class="title">Title</div>
                  <div class="price">RM 7.99</div>
              </div>
              <div class="col col-50">
                  <img src="http://placehold.it/133x139">
                  <div class="title">Title</div>
                  <div class="price">RM 7.99</div>
              </div>
      </div>

    <a class="button buyticket">Buy Ticket</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
      <a href="#/app/ticket" nav-direction="forward">Buy Ticket <i class="ion-chevron-right"></i></a>
  </ion-footer-bar>
</ion-view>
