<ion-view id="downloads" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>NEWS and UPDATES</h1>
    </header>
    <article class="cusContent">

      <div class="row">
        <a href="#" onclick="window.open('http://the-v.net/en/home/v-ambassadors/v-partners/vp-tg-kintanar', '_system', 'location=yes'); return false;" class="col col-33">
          <img src="http://placehold.it/500x500" class="center " height="auto" width="100%">
        </a>

        <a href="#" onclick="window.open('http://the-v.net/en/home/v-ambassadors/v-partners/vp-tg-kintanar', '_system', 'location=yes'); return false;" class="col col-75">
          <div class="name">Name</div>
        </a>

      </div>

      <div class="row">
        <a href="#" onclick="window.open('http://the-v.net/en/home/v-ambassadors/v-partners/vp-tg-kintanar', '_system', 'location=yes'); return false;" class="col col-33">
          <img src="http://placehold.it/500x500" class="center " height="auto" width="100%">
        </a>

        <a href="#" onclick="window.open('http://the-v.net/en/home/v-ambassadors/v-partners/vp-tg-kintanar', '_system', 'location=yes'); return false;" class="col col-75">
          <div class="name">Name</div>
        </a>

      </div>

      <div class="row">
        <a href="#" onclick="window.open('http://the-v.net/en/home/v-ambassadors/v-partners/vp-tg-kintanar', '_system', 'location=yes'); return false;" class="col col-33">
          <img src="http://placehold.it/500x500" class="center " height="auto" width="100%">
        </a>

        <a href="#" onclick="window.open('http://the-v.net/en/home/v-ambassadors/v-partners/vp-tg-kintanar', '_system', 'location=yes'); return false;" class="col col-75">
          <div class="name">Name</div>
        </a>

      </div>
    </article>

    <a class="button buyticket">Buy Ticket</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
      <a href="#/app/merchandise" nav-direction="forward">merchandise <i class="ion-chevron-right"></i></a>
  </ion-footer-bar>
</ion-view>
